.container__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear 2s both;
}

.container__title {
    margin: 2em;
    font-size: 2em;
    animation: appear_border 3s ease-in forwards;
}

.letra {
    display: inline-block;    
    animation: translateX 1.5s  ease-out forwards;
}

.letra:nth-child(1) { animation-delay: 0s; }
.letra:nth-child(2) { animation-delay: 0.1s; }
.letra:nth-child(3) { animation-delay: 0.2s; }
.letra:nth-child(4) { animation-delay: 0.3s; }
.letra:nth-child(5) { animation-delay: 0.4s; }
.letra:nth-child(6) { animation-delay: 0.5s; }

.container__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
}

.item {
    border-bottom: 1px solid black;
}

.item img {
    width: 300px;
}

.item p {
    padding: 2px;
    margin: 7px 0px;
}

.btnItem {
    width: 100%;
    height: 30px;
    letter-spacing: 2px;
    background-color: #d4d4d1;
    border:none;
    margin: 1em 0em;
}

@media screen and (min-width: 425px) {
    .item img {
        padding: 1em;
        width: 100%;
    }

    .item p {
        padding: 0em 1em;
    }
}

@media screen and (min-width: 768px) {
    .container__items {
        grid-template-columns: repeat(3, 1fr);
    }
}